.home {
  width: 100%;
  height: 100%;
  .home-title{
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
  }
  .home-content{
    margin: 24px 16px 0;
  }
}

